@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    font-family:Oswald;
}

body{
    margin:1em;
    padding:0;
    background:deepskyblue;
    color:#fff;
}

.test{
    background:#333;
    border-radius: 20px;
    display:box;
    height:calc(100vh - 2em);
    /*box-shadow: 0px 0px 5px 5px #333;*/
}

.nav-bar-main{
    display:flex;
    justify-content: space-between;
    padding:.5em 1em;
    font-size: 1.2em;
    letter-spacing: .1em;;
}

.nav-bar-main-1{
    font-weight:600;
}

.nav-bar-main-2 ul{
    display:flex;
    text-decoration: none;
    list-style: none;
}

.nav-bar-main-2 li{
    padding:.2em 1em;
    margin:0 .5em;
}